/* Main Stylesheet */
body {
  font-family: 'Droid Sans',helvetica,arial,serif;
  font-size: 10pt;
  background: white;
}
html, body { 
  padding: 0; margin: 0;
  border: none; 
}

h2 {font-weight: bold; font-size: 120%;}

/* Data entry form layout */
form.scroll   {position: absolute; top: 3px; bottom: 3px; width: 99%;}
div.row       {clear: both;}
div.row label {display: inline; float: left; width: 84px; text-align: right; margin: 6px 3px 0px 0px; ; height: 20px; line-height:80%}
div.row span.field   {display: inline; float: left; text-align: left; margin: 0px;} 
input, select, textarea{ margin: 2px; padding: 0px; font-size: 10pt; height: 20px;}
input[type=file] {height:0; width:0;}  /* Hidden uploads, triggered by buttons */

/* Attempt to style inputs cleanly */
input[type="text"] {border: 1px solid #998; border-radius: 3px;}
input[type="number"] {border: 1px solid #998; border-radius: 3px;}
input[type="range"] {border: 1px solid #998; border-radius: 3px;}
input[type="button"] {height: 23px; font-size: 8pt; padding: 3px; min-width: 30px; border: 1px solid #998; border-radius: 3px; background: #eed;}
input[type="checkbox"] {margin: 4px;}
select {min-width: 150px; max-width: 190px; border: 1px solid #998; border-radius: 3px; background: #fff;}
textarea {border: 1px solid #998; border-radius: 3px; min-height: 20px;}

div.row textarea {min-width: 206px; max-width: 206px; font-family: sans; font-size: 9pt;}
div.row input[type="number"] {width: 100px;}
div.row input[type="text"] {width: 100px;}
div.row select {min-width: 100px;}

input[type="button"]:hover {background:#dac083;}
input[type="button"]:disabled {background:#eee;}
div.row input:focus {border-color: blue;}
div.row select:focus {border-color: blue;}
div.row textarea:focus {border-color: blue;}

li.selected_item span input {height: 18px; font-size: 8pt; padding: 0px; margin: 0px 10px 0px 0px; border: 1px solid #998; border-radius: 3px; background: #665;}

/* Console & help areas */
div.info {
  border:1px solid #888;
  margin: 2px; padding: 2px;  
  background: #ffe;
  border-radius: 5px;
overflow:auto;
}
.message {font-family: monospace; font-size: 8pt;}

p {margin: 0px 2px; }


div.gap {height: 5px; }

/* Visible only when logged in */
.loggedin {display: none;}
.loggedout {display: block;}

/* Floating divs */
.left       {float: left}
.right      {float: right}
.clear      {clear: both;}

.divider{
  clear: both; margin: 1px 5px 3px 0px; padding: 5px 0px 0px; 
  border-top: dotted 1px #aaa;
  font-size: 8pt;
}
.divider-label{
  padding:0px 2px;
  background: #320;
  color: #eee;
  border-radius: 3px;
}

canvas {
  z-index: 0; margin: 0px; padding:0px;
  background: transparent;
  background-image: url("media/bg.png");
  border: none; 
}

canvas#fractal-canvas {
  width: 100%;
  height: 100%;
}

canvas#palette {
  border:1px solid #000;
  border-radius: 4px;
}

/* Colour select */
.colourbg { margin:1px; width: 100px; height: 20px; border: solid 1px; background-image: url("media/bg.png"); border-radius: 4px;}
.colour { width: 100px; height: 20px; background: #fff; border-radius: 4px;}

/* Background colour */
#backgroundBG { float: left; margin: 0px 2px 0px 0px; width: 24px; height: 24px;}
#backgroundCUR { float: left; width: 24px; height: 24px;}

/* Image area selection */
#select {
  display: none;
  z-index: 20;
  position:absolute;
  border:1px solid #596380;
  background: #EECC11;
  opacity: 0.3;
}

/* Background image */
#background {z-index: -1; position: absolute; top: 0; left: 0; background-image: url('media/bg.png');}

/* Popup div */
.popup {
  position:fixed;
  width:300px; height:60px;
  top:50%; left:50%;
  margin:-30px 0 0 -150px; /* [-(height/2)px 0 0 -(width/2)px] */
  display:none; z-index: 30; border: none; 
  padding: 5px; overflow: hidden;
  background: #ffe;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 2px #222;
}
.popclose {float: right; cursor: pointer; color: #333; margin: 0px 3px; font-weight: bold}
#loginpop {
  width:300px; height:200px;
  margin:-100px 0 0 -150px;
}
/* Progress popup */
#progress {width: 302px; height: 32px;}
#progressbar {width: 300px; height: 10px; background: #58f;}

/* Formula editing */
.formula_buttons {float: right; padding-right: 5px;}

/* Tab panels */
.panel { 
  z-index: 1;
  border-width: 1px 1px 1px 1px; 
  border-color: #663; 
  border-style: solid; 
  padding: 5px; overflow: hidden;
  background: #fefdee;
  border-radius: 0px 5px 5px 5px;

  position: absolute; top: 24px; left: 2px; bottom: 24px; width: 318px;
}

/* Scrolling areas */
.scroll {overflow-y: auto; overflow-x: hidden}

#statusbar {position: absolute; bottom: 1px; width: 328px; height: 18px; margin: 2px 0px 0px; padding: 0; border-radius: 4px; border: 1px solid #663; background-color: #ddc}

#coords {float: left; padding: 0px 5px; margin: 1px;}

#indicatorbg {width: 100%; background-color: #666; margin: 1px; border-radius: 4px;}
#indicator {width: 0px; height: 5px; background-color: #0b2; margin: 0px; border-radius: 4px;}

.savelist {width: 200px;}
.fractal-list {width: 98%;}

section, header, aside, nav, article {display: block;}

header { 
  z-index: 100;
  margin: 0 auto;
  height: 26px;
  width:100%;
  background: #222;
  color: #ccc;
     position: fixed;
}

header h1 {float: left;  margin: 0px;  height: 12px;  padding: 4px;  font-size: 12pt; font-weight:normal;}
header h1 a {font-weight:normal; text-decoration:none; color: #eec}
header h1 a:visited {color: #eec}
header h1 #bar {color: #887;}
header h3 {float: left;  margin: 0px;  height: 12px;  padding: 8px 2px;  font-size: 8pt; font-weight:normal;}

/* Nav-menu */
nav#menu {float: left;}

#nav,#nav ul {
    list-style:none;
    margin:0; padding:0;
}
#nav {
    height:24px;
    padding-left:2px;
    padding-top:2px;
    position:relative;
    z-index:2;
}
/* Drop menus */
#nav ul {
  display: none; /* Initially hidden */
  box-shadow: 3px 3px 2px #222;
    position:absolute;
    top:24px;
    width:auto;
  border-radius:4px;
  padding:3px;
  background-color:#3c2c1f;
}
#nav ul ul {
  display: none; /* Initially hidden */
    position:absolute;
    top:0;
    width:auto;
}
#nav li {
    float:left;
    margin-right:3px;
    position:relative;
}
#nav li span {
    background:#3c2c1f;
    color:#ffd;
    display:block;
    float:left;
    font-size:13px;
    padding:2px 3px;
    text-decoration:none;
  cursor: pointer; 
}

/* For login options */
#nav ul.login {border: 1px solid #3c2c1f; background:#fcfccf;}
#nav ul.login li span {background:#fcfccf; text-align: center;}
#nav ul.login li img:hover {background:#dac083;}
#nav ul.login li img {padding: 0px 15px;}

/* Dividers */
#nav ul li hr {margin: 2px 0px; width:125px; }

/* Top level items only */
#nav > li > span {
    border-radius:4px;
    overflow:hidden;
  border: 1px solid #777;
  color:#bbb;
}
#nav li span.fly {
    background:#3c2c1f url(media/arrow.gif) no-repeat right center;
    padding-right:15px;
}
#nav ul li { margin:0; }
#nav ul li span { width:120px; }
#nav ul li span.fly { padding-right:3px; }

/*hover styles*/
#nav li:hover > span { background-color:#9a6023; color:#000; }
/*focus styles - removes the dotted outline */
#nav li span:focus { outline-width:0; }

/*popups*/
#nav li span:active + ul.dd,
#nav li span:focus + ul.dd,
#nav li ul.dd:hover 
  { display: block}

#nav ul.dd li span:active + ul,
#nav ul.dd li span:focus + ul,
#nav ul.dd li ul:hover 
  { left:129px; top:-3px; display: block }

/* Menu lists */
.selected_item {border: 1px solid #777;}
.selectlist {overflow-y:auto; overflow-x: hidden; max-height: 300px;}
.selectlist li {width: 200px;}
.selectlist span {min-width: 194px; display: inline-block; float: left;}
#palettes li {border: none;}

.thumb {margin: 0px; padding-right: 3px; display: inline-block; float: left;}

/* Tab navigation */
#tabs {z-index: 2; position: relative;}
#tabs ul {
  height: 22px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
  float: left;
}
#tabs li {
  border-color: black; 
  color: #211; 
  background: #fefdee;
  padding: 2px 0.5em 0px 0.5em; 
  margin-right: 1px;
  text-decoration: none;
  float: left;        
  height: 20px;
  border-radius: 5px 5px 0px 0px;

  border-width: 1px 1px 0px 1px; 
  border-color: #663; 
  border-style: solid; 
}

#tabs .unselected:hover { 
  color: #0088AA; 
  border-color: black; 
  background: #fce2a5; 
  height: 20px;
  cursor: pointer
}

#tabs .selected {
  background: #fefdee;
  padding-top: 2px;
}
#tabs .unselected {
  padding-top: 1px;
  background: #ddc;
}

#controls {
  z-index: 1;
  margin: 0px 0px 2px 0px; padding:0px;
  height: 26px;
  color: #888;
  /*float: right;*/
/* Fix so palette doesn't wrap when window resized too small */
position: absolute; right: 2px; 
overflow: hidden;
}

#left {
  margin: 0 auto;
  z-index: 2;
     position: fixed;
  /*position:absolute;*/
  left:0;
  top: 27px;  /* Space for header */
  bottom:0px;  
    width:334px;
}

aside {
  height: 99%;
  margin: 2px;
  float: left;
  width: 330px;
}

#main {
  z-index: 0;
  margin: 0px;
  padding: 0px;
  position:absolute;   
  left: 334px;
  top: 27px;  /* Space for header */
  bottom: 0px;
  right: 0px;
}

/* colourPicker.js picker */
#picker { 
  display:none; top: 58px; z-index: 20; 
  background: #0d0d0d; color: #aaa; cursor: move; 
  font-family: arial; font-size: 11px; 
  padding: 7px 10px 11px 10px; 
  position: fixed; width: 229px; 
  border-radius: 5px; border: 1px solid #444;
  box-shadow: 3px 3px 2px #222;
}

#pickRGB { float: left; position: relative; top: -1px; }
#pickOK { float: right; cursor: pointer; margin: 0 8px 3px; color: #fff; }
#pickCLOSE { float: right; cursor: pointer; margin: 0 8px 3px; color: #fff; }
#pickRGB:hover,#pickCLOSE:hover,#pickOK:hover { color: #FFD000;  }

#pickCURBG { float: left; width: 12px; height: 12px; margin-right: 3px; background-image: url("media/bg.png"); }
#pickCUR { float: left; width: 12px; height: 12px; background: #fff; margin-right: 3px;}

#SV { background: #ff0000 url('media/SatVal.png'); position: relative; cursor: crosshair; float: left; height: 170px; width: 170px; margin-right: 10px; }
#SVslide {background: url('media/slide.png'); height: 9px; width: 9px; position: absolute; cursor: crosshair; }

.slider { cursor: crosshair; float: left; height: 170px; position: relative; width: 19px; padding: 0;}
.sliderControl { top: 0px; left: -5px; background: url('media/slideHue.png'); height: 5px; width: 29px; position: absolute; }
.sliderBG { position: relative; }
.sliderBG div { background: #000; height: 1px; width: 19px; margin: 0; padding: 0; }

#O {border: 1px solid #888; left: 9px; background-image: url("media/bg.png"); }

#help p, h1, h2, h3 {margin-top: .5em; margin-bottom: .5em;}

/* Help docs styles */
#help { font-size: 9pt }

#help h1 { font-size: 130% }
#help h2 { font-size: 115% }
#help h3 { font-size: 100% }

/* bold-faced definition list terms */
#help li em { font-weight: bold }

/* Gallery: floating images  and container */    
div#gallery {width: 100%; height: 100%; margin: 0px; padding: 0;
  box-sizing: border-box; -moz-box-sizing: border-box; 
  color:#000; font-family: verdana, helvetica, sans; background:#222; 
  border-radius: 6px; display: none;
}
#gallery-buttons {padding: 5px;}
#gallery input[type="button"] {height: 26px; font-size: 12pt; margin-left: 5px; padding: 0px 5px; min-width: 30px; 
            border: 1px solid #998; border-radius: 5px; background: #554; color: #eee;}
#gallery input[type="button"]:hover {background:#aa9063;}
div.float {margin: 0; padding-left: 10px; padding-bottom: 10px; float: left}
div.float p {text-align: center}    
div.float img {border: 0; display: block;}
div.spacer {clear: both; height: 0;} 
div.ginfo  {margin: 0; padding-left: 10px; clear: both; 
          font-family: verdana, helvetica; font-size: 8pt; color: #666;}
div.ginfo a  {padding-left: 10px; font-family: verdana, helvetica}

/* Navigation Buttons */
ul.navigation {list-style-type: none; margin: 0px 10px; padding: 3px 0px; border-top: 1px solid #666;}
ul.navigation li {margin-right: 10px;}
ul.navigation li a {border-radius: 4px; display: block; width: 5em; color: #FFF; background-color: #036; padding: 2px 0; text-align: center; text-decoration: none;}
ul.navigation li a:hover {color: #FFF; background-color: #69C}
ul.navigation li span {border-radius: 4px; display: block; width: 5em; color: #aaa; background-color: #333; padding: 2px 0; text-align: center; text-decoration: none;}

/* Links as buttons with hover */
a.button {height: 14px; font: 8pt verdana; margin-right: 5px; margin-left: 5px; display: block; width: auto; 
          min-width: 5em; padding: .2em .2em; text-align: center; text-decoration: none; float: right;}
a.button a:hover {}

a.gallery {font: 8pt verdana; margin-right: 5px; display: block; width: 100px;  
          min-width: 5em; padding: .2em .2em; text-align: center; text-decoration: none; float: left;
          color: #333; background-color: #DDA; }
a.gallery:hover {color: #000; background-color: #DD3}
a.selected {color: #FFF; background-color: #D91}
a.selected:hover {color: #000; background-color: #FD3}
