body {
  font-family: 'Droid Sans',helvetica,arial,serif;
  /*font-family: sans-serif;*/
  font-size: 10pt;
  background: #ffe;
}
html, body { 
  padding: 0; margin: 0;
  border: none; 
}

/* Data entry form layout */
form.scroll  {position: absolute; top: 3px; bottom: 3px; width: 99%;}
div.row      {clear: both;}
div.row span.label   {display: inline; float: left; width: 124px; text-align: right; margin: 1px 3px; }
div.row span.field   {display: inline; float: left; text-align: left; margin: 0px} 
.formbox textarea    {width: 100%}
input[type=checkbox] {position: relative; top: 2px;} /* Hack to stop checkboxes floating above text */
input, select{  
    margin: 1px;  
    padding: 0px;  
    font-size: 10pt;
}
input[type=file] {height:0; width:0;}  /* Hidden uploads, triggered by buttons */

div.row textarea {height: 15px; min-width: 208px; max-width: 208px; font-family: sans; font-size: 9pt;}
div.row input[type="button"] {margin: 0px}
div.row input[type="number"] {width: 100px;}
div.row input[type="text"] {width: 100px;}

#console {
  border:1px solid #888;
  margin: 2px; padding: 2px;  
  background: #ffe;
  border-radius: 5px;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
}
.message {font-family: monospace; font-size: 9pt;}

p {margin: 0px 2px; }

div.gap {height: 5px; }

form.login {
  padding: 1px;
  margin: 1px;
  font-size: 12pt;
  background: #776;
  color: #eee;
  border-radius: 5px;
    -webkit-border-radius: 5px;  
    -moz-border-radius: 5px;  
}


/* Floating divs */
.left       {float: left}
.right      {float: right}
.clear      {clear: both;}

.divider{
  clear: both; margin: 1px 0px 3px; padding: 3px 0px 0px; 
  border-top: dotted 1px #aaa;
  font-size: 8pt;
}
.divider-label{
  padding:0px 2px;
  background: #320;
  color: #eee;
  border-radius: 3px;
    -webkit-border-radius: 3px;  
    -moz-border-radius: 3px;  
}

canvas {
  z-index: 0; margin: 0px; padding:0px;
  background-image: url("media/bg.png");
  border: none; 
}

canvas#palette {
  border:1px solid #000;
  border-radius: 4px;
    -webkit-border-radius: 4px;  
    -moz-border-radius: 4px;  
}

/* Colour select */
.colourbg { margin:1px; width: 100px; height: 20px; border: solid 1px; background-image: url("media/bg.png"); border-radius: 4px;}
.colour { width: 100px; height: 20px; background: #fff; border-radius: 4px;}

/* Background colour */
#backgroundBG { float: left; margin: 0px 2px 0px 0px; width: 24px; height: 24px;}
#backgroundCUR { float: left; width: 24px; height: 24px;}

/* Image area selection */
#select {
  z-index: 20;
  position:absolute;
  border:1px solid #596380;
  background: #EECC11;
  opacity: 0.3;
}

/* Popup div */
.popup {
  position:fixed;
  width:200px; height:100px;
  top:50%; left:50%;
  margin:-50px 0 0 -100px; /* [-(height/2)px 0 0 -(width/2)px] */
  display:none; z-index: 30; border: none; 
  padding: 5px; overflow: hidden;
  background: #ffe;
  border-radius: 5px 5px 5px 5px;
  box-shadow: 3px 3px 2px #333;
}

/* Tab panels */
.panel { 
  border: none; 
  padding: 5px; overflow: hidden;
  background: #e9e4cc;
  border-radius: 0px 5px 5px 5px;
  box-shadow: 3px 3px 2px #333;

  position: absolute; top: 25px; left: 3px; bottom: 27px; width: 368px;
}

/* Scrolling areas */
.scroll {overflow: auto;}

#statusbar {position: absolute; bottom: 0px; width: 380px; margin: 0; padding: 0;}

#coords {float: left; background-color: #cb9; padding: 0px 5px; margin: 3px; border-radius: 4px;}

#indicatorbg {width: 98%; background-color: #666; margin: 1px; border-radius: 4px;}
#indicator {width: 0px; height: 5px; background-color: #0b2; margin: 0px; border-radius: 4px;}

.savelist {width: 98%;}

section, header, aside, nav, article {display: block;}

header { 
  z-index: 1;
  margin: 0 auto;
  height: 27px;
  width:100%;
  background: #202;
  color: #ccc;
     position: fixed;
}

header h2 {
  float: left;
  margin: 0px;
  height: 12px;
  padding: 6px;
  font-size: 10pt;
}

/* Tab navigation */
#tabs ul {
  height: 24px;
  margin: 0;
  padding: 0;
  list-style: none;
  width: 100%;
  display: block;
  float: left;
}
#tabs li {
  border-collapse: collapse; 
  border-style: none;  
  border-color: black; 
  border-width: 1px 1px 0px 1px; 
  color: #001166; 
  background: #b9b49c;
  padding: 2px 0.5em 0px 0.5em; 
  margin-right: 3px;
  text-decoration: none;
  float: left;        
  height: 22px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 1px -1px 1px #333;
}
#tabs li:hover { 
  color: #0088AA; 
  border-color: black; 
  background: white; 
  height: 22px;
  cursor: pointer
}
/* Alpha+black gradient */
#tabs .gradient {
  background-image: -webkit-gradient(linear, left bottom, left top,
    from(rgba(0,0,0,0.5)), color-stop(60%, rgba(0,0,0,0.0)));
  background-image: -moz-linear-gradient(center bottom, 
    rgba(0,0,0,0.5), rgba(0,0,0,0.0) 60%);
}

header nav {
  margin: 0 auto;
  text-align: right;
  margin-left: auto;
  margin-right: auto;
}
header nav ul {
  list-style: none;
  margin-bottom: 0;
  display: inline;
}
header nav ul li {
  display: inline;
  margin: 0px;
  padding: 0px;
}
header nav ul li a, 
header nav ul li span {
  background: #ba6033;
  border-radius: 5px;
  display: inline-block;
  margin: 2px 2px 2px 0px;
  padding: 3px 8px 3px;
  color: #fff;
  text-decoration: none;
  position: relative;
  cursor: pointer;
}
header nav ul li a:hover, 
header nav ul li span:hover {
  background-color: #fb7d0f;
}

/* base nav styles */  
nav ul:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }  
nav li a { display:block; padding:10px 20px; border-left:1px solid #999; border-right:1px solid #222; color:#eee; text-decoration:none; }  
nav li a:focus { outline:none; text-decoration:underline; }  
nav li:first-child a { border-left:none; }  
nav li.last a { border-right:none; }  
nav a span { display:block; float:rightright; margin-left:5px; }  
nav ul ul { display:none; width:100%; position:absolute; left:0; background:#6a6a6a; }  
nav ul ul li { float:none; }  
nav ul ul a { padding:5px 10px; border-left:none; border-right:none; font-size:14px; }  
nav ul ul a:hover { background-color:#555; }

#controls {
  z-index: 2;
  margin: 0px 0px 2px 0px; padding:0px;
  height: 28px;
  color: #888;
  float: right;
}

#left {
  margin: 0 auto;
  z-index: 2;
     position: fixed;
  /*position:absolute;*/
  left:0;
  top: 28px;  /* Space for header */
  bottom:0px;  
    width:386px;
}

aside {
  height: 99%;
  margin: 3px;
  float: left;
  width: 376px;
}



#main {
  z-index: 0;
  position:absolute;   
  left: 386px;
  top: 28px;  /* Space for header */
}

/* colourPicker.js plugin */
#plugin { display:none; top: 58px; z-index: 20; background: #0d0d0d; color: #aaa; cursor: move; font-family: arial; font-size: 11px; padding: 7px 10px 11px 10px; position: fixed; width: 229px; border-radius: 5px; border: 1px solid #444; }
#plugin br { clear: both; margin: 0; padding: 0;  }
#plugin select { border: 1px solid #333; background: #fff; position: relative; top: 4px; }

#plugRGB { float: left; position: relative; top: -1px; }
#plugOK { float: right; cursor: pointer; margin: 0 8px 3px; color: #fff; }
#plugCLOSE { float: right; cursor: pointer; margin: 0 8px 3px; color: #fff; }
#plugRGB:hover,#plugCLOSE:hover,#plugOK:hover { color: #FFD000;  }

#plugCURBG { float: left; width: 12px; height: 12px; margin-right: 3px; background-image: url("media/bg.png"); }
#plugCUR { float: left; width: 12px; height: 12px; background: #fff; margin-right: 3px;}

#SV { background: #ff0000 url('media/SatVal.png'); position: relative; cursor: crosshair; float: left; height: 170px; width: 170px; margin-right: 10px; }
#SVslide {background: url('media/slide.png'); height: 9px; width: 9px; position: absolute; cursor: crosshair; }

.slider { cursor: crosshair; float: left; height: 170px; position: relative; width: 19px; padding: 0;}
.sliderControl { top: 0px; left: -5px; background: url('media/slideHue.png'); height: 5px; width: 29px; position: absolute; }
.sliderBG { position: relative; }
.sliderBG div { background: #000; height: 1px; width: 19px; margin: 0; padding: 0; }

#O {border: 1px solid #888; left: 9px; background-image: url("media/bg.png"); }
