.cm-s-default span.cm-keyword {color: #8f6500; font-weight:bold;}
.cm-s-default span.cm-atom {color: limegreen;}
.cm-s-default span.cm-number {color: limegreen;}
.cm-s-default span.cm-operator {color: darkorange;}
.cm-s-default span.cm-comment {color: gray; font-style: italic;}
.cm-s-default span.cm-meta {color: #8ca;}

.cm-s-default span.cm-modifier {color: #558fff;}
.cm-s-default span.cm-stdlib {color: #ba0; font-weight:bold;}
.cm-s-default span.cm-stdvar {color: #00de90; font-weight:bold;}
.cm-s-default span.cm-type {color: aqua;}
.cm-s-default span.cm-param {color: khaki; font-weight:bold;}

.cm-s-default span.cm-def {color: white;}
.cm-s-default span.cm-variable {color: black;}
.cm-s-default span.cm-variable-2 {color: #05a;}
.cm-s-default span.cm-variable-3 {color: #0a5;}
.cm-s-default span.cm-property {color: black;}
.cm-s-default span.cm-string {color: #a11;}
.cm-s-default span.cm-error {color: #f00;}
.cm-s-default span.cm-qualifier {color: #555;}
.cm-s-default span.cm-builtin {color: #30a;}
.cm-s-default span.cm-bracket {color: #cc7;}
.cm-s-default span.cm-tag {color: #170;}
.cm-s-default span.cm-attribute {color: #00c;}

