html {
  cursor: text;
}

.editbox {
  padding: .4em;
  margin: 0;
  font-family: 'Droid Sans Mono',monospace;
  font-size: 10pt;
  line-height: 1.1em;
  color: beige;
}

pre.code, .editbox {
  color: #333;
}

.editbox p {
  margin: 0;
}

span.glsl-punctuation {
  color: beige;
}

span.glsl-operator {
  color: darkorange;
}

span.glsl-modifier {
  color: #558fff;
}

span.glsl-keyword {
  color: #8f6500;
  font-weight:bold;
}

span.glsl-stdlib {
  color: #ba0;
  font-weight:bold;
}

span.glsl-stdvar {
  color: #0099aa;
  font-weight:bold;
}

span.glsl-atom {
  color: limegreen;
}
/*Custom*/
span.glsl-param {
  color: khaki;
  font-weight:bold;
}

span.glsl-variable {
  color: beige;
}

span.glsl-property {
  color: beige;
}

span.glsl-comment {
  color: seagreen;
}

span.glsl-type {
  color: aqua;
}

span.glsl-define{
  color: gray;	
}

